Source: config-apt-update
Section: admin
Priority: extra
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 7)
Vcs-Git: git://github.com/waja/config-apt-update.git
Vcs-Browser: http://github.com/waja/config-apt-update
Standards-Version: 3.9.6

Package: config-apt-update
Architecture: all
Depends: bind9-host | ldnsutils,
         bsd-mailx | mailx | mailutils,
         debconf (>= 0.2.26) | debconf-2.0,
         ${misc:Depends}
Conflicts: heirloom-mailx
Description: configuration for automatical update notification
 This package contains utilities for automatical notification of available
 packages through apt(-titude).
