#!/usr/bin/make -f
# written by Jan Wagner <waja@cyconet.org>
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/config-apt-update
	install -d -m 0755 debian/config-apt-update/etc/default/
	install -D -m 644 debian/config-apt-update.default debian/config-apt-update/etc/default/config-apt-update

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_link -pconfig-apt-update			\
	usr/share/config-apt-update/apt-update	\
	etc/cron.daily/apt-update
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_installdebconf
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
